@model ToDoList.Web.Models.TaskViewModels.ToDoListViewModel

@{
    ViewBag.Title = "Tasks";
}

<h2>Tasks</h2>
@if (!User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create", new { id = Model.Id })
    </p>
}
<table class="table">
    <tr>
        <th>
            Task
        </th>
        <th>
            Expiration Date
        </th>
        <th>
            Compleated
        </th>
        <th>
            Category
        </th>
        <th>
            Priority
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Tasks.Where(t => t.ExpirationDate >= DateTime.Now.Date))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Task)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @using (Html.BeginForm("Done", "Task", new { id = item.Id }))
                {
                    string compleated = "Done";
                    if (item.IsDone == true)
                    {
                        compleated = "unDone";
                    }
                    <input type="submit" value=@compleated class="btn btn-group-sm btn-success" />
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
