@model IEnumerable<ToDoList.Web.Models.TaskViewModels.TaskViewModel>

<table class="table" id="Tasks">
    <tr>
        <th>
            Task
        </th>
        <th>
            Expiration Date
        </th>
        <th>
            Compleated
        </th>
        <th>
            Category
        </th>
        <th>
            Priority
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Task)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @using (Html.BeginForm("Done", "Today", new { Area = "User", id = item.Id }))
                {
                    string compleated = "Done";
                    if (item.IsDone == true)
                    {
                        compleated = "unDone";
                    }
                    <input type="submit" value=@compleated class="btn btn-group-sm btn-success" />
                }
            </td>

        </tr>
    }

</table>